REACT_APP_NODE_ENV = environment

REACT_APP_LAMBDA_FUNCTION_QUALIFIED_ARM = arm

REACT_APP_COGNITO_IDENTITY_POOL_ID = cognito pool id
REACT_APP_COGNITO_REGION = ap-south-1
REACT_APP_COGNITO_USER_POOL_ID = user pool id
REACT_APP_COGNITO_USER_POOL_WEB_CLIENT_ID = user pool client id

REACT_APP_USER_POOL_ARN = user pool arn

REACT_APP_API_GATEWAY_BACKEND = api url
REACT_APP_API_GATEWAY_COGNITO = api url
REACT_APP_API_GATEWAY_REGION = ap-south-1

REACT_APP_STORAGE_BUCKET = s3 bucket name
REACT_APP_STORAGE_REGION = ap-south-1
