// Colors
$black: #000;
$white: #fff;

$blue-100: #e5e5e5;
$blue-200: #c8dff5;
$blue-300: #e3edf7;

$black-100: #9fa2b4;
$black-300: #2d3748;
$black-400: #1a202c;
$black-500: #404852;
$black-600: #363636;

$gray-600: #979797;
$gray-700: #9ea2ad;
$gray-800: #ccc;
$gray-900: #43464d;

$red: #eb5757;
$red-600: #de6767;

$purple: #080591;
$purple-100: #dde2ff;

$green: #4ade80;
$green-500: #65bf73;

$yellow: #eac287;

// Typography

$base-link-color: $purple;

// Fonts
$font-mulish: 'Mulish', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-raleway: 'Raleway', sans-serif;

$h1-font-size: 36px;
$h2-font-size: 28px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 14px;
